/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

/*
  Theme colors (creds to https://www.pinterest.com/pin/102738435219302377/):
    Pastel green: #5ca48c (cadetblue);
    Dark green:   #046f69 (teal);
    Red:          #f40a49 (crimson);
    Orange:       #f49565 (sandybrown);
    Yellow:       #f3d895 (khaki);
    Light pink:   #fc81af (hotpink);
    Hot pink:     #f1079c (deeppink);
*/

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

/* MARKETING CONTENT
-------------------------------------------------- */

.marketing .col-lg-6 {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-6 p {
  margin-right: 10px;
  margin-left: 10px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.fa-ul { /* make the alignment nice! */
  margin-left: auto;
  margin-right: auto;
  width: 277.5px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
