/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

/*
  Theme colors (creds to https://www.pinterest.com/pin/102738435226484390/):
    peachpuff:      #ffd2c3;
    khaki:          #f1e64e;
    darkkhaki:      #cfca6f;
    salmon:         #ea706f;
      5 darker:     #e34544;
    darkolivegreen: #5e6a3c;

*/

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

a {
  color: #ea706f;
}

a:hover,
a:focus {
  color: #e34544;
}

/* PROFILE BLOCK
-------------------------------------------------- */

.profile .col-lg-6 {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}
.profile h2 {
  font-weight: normal;
}
.profile .col-lg-6 p {
  margin-right: 10px;
  margin-left: 10px;
}

/* Center align the text within the three columns below the carousel */
.profile .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.profile h2 {
  font-weight: normal;
}
.profile .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.profile .fa-ul { /* make the alignment nice! */
  margin-left: auto;
  margin-right: auto;
  width: 210.891px;
}

.profile #me {
  border: 15px solid #ea706f;
}

.profile .img-circle {
  border: 10px solid;
}

.profile .col-lg-4:nth-child(1) .img-circle {
  border-color: #f1e64e;
}

.profile .col-lg-4:nth-child(2) .img-circle {
  border-color: #cfca6f;
}

.profile .col-lg-4:nth-child(3) .img-circle {
  border-color: #f1e64e;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
